langchain==0.1.16
langchain-community==0.0.33
langchain-core==0.1.44
beautifulsoup4==4.12.3
chromadb==0.4.24
fastapi==0.110.1
uvicorn==0.29.0
pydantic==2.7.0
json-cfg==0.4.2

PyJWT==2.8.0
python-decouple==3.8

pdfminer==20191125
pdfminer.six==20231228
pillow==10.3.0
pillow-heif==0.16.0
opencv-python==4.9.0.80
pdf2image==1.17.0
unstructured==0.14.0
unstructured-inference==0.7.31
pytesseract==0.3.10
unstructured.pytesseract==0.3.12
tiktoken==0.7.0
vllm==0.3.0
boto3~=1.34.115
confz~=2.0.1
python-dotenv~=1.0.1
pikepdf~=8.15.1
ZODB~=6.0

# dependencies for json parsing mode
prettytable==3.9.0
tqdm==4.65.0
vllm==0.3.0
transformers==4.37.2


# dependencies for openai python client
httpx~=0.23.0
typing-extensions~=4.7
anyio~=3.5.0
distro~=1.7.0
sniffio~=1.3.1
cached-property~=1.5.2
python_version~=0.0.2

sentry-sdk~=2.7.1
loguru~=0.7.2
streamlit~=1.36.0
streamlit_chat~=0.1.1